body{
    margin: 0px;
    padding: 5%;
}

span{
    color: palevioletred;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
}
.biography{
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
}
.work-bg{
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(226, 32, 103),rgb(255, 71, 175));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
section{ 
    height: 500px;
    padding-bottom: 150px;
}
.container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.work{
    display: flex;
  justify-content: center;
  align-items: center;
}

.work img{
    max-width: 100%;
    height: auto;
}